body{
    width: 100vw;
    height: 100vw;
    align-items: center;
}

img {
    width: 500px;
    height: 500px;
    align-items: center;
}

.nav{
    background-color: blue;
}

.carousel {
    width: 500px;
    height: 500px;
    align-items: center;
}

footer{
    background-color: black;
}